 html {
   overflow-x: hidden;
 }

 body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   background-color: #111;
   background-image: radial-gradient(#333, #111);
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   color: #fff;
   text-align: center;
   width: 100vw;
   font-weight: 700;
 }

 header {
   background-color: #333;
   color: #fff;
   padding: 20px;
   text-align: center;
 }

 nav ul {
   list-style-type: none;
   padding: 0;
 }

 nav ul li {
   display: inline;
   margin-right: 20px;
 }

 nav ul li a {
   color: #fff;
   text-decoration: none;
 }

 section {
   padding: 50px;
 }

 footer {
   background-color: #333;
   color: #fff;
   padding: 20px;
   text-align: center;
 }

 /* Estilos para la cuadrícula de servicios */
 .servicios-grid {
   display: flex;
 }

 .servicio {
   background-color: #f4f4f4;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }

 .servicio h3 {
   margin-top: 0;
 }

 .servicio p {
   margin-bottom: 0;
 }



 /* Estilos para el formulario de contacto */
 form {
   margin-top: 20px;
   background-color: #f4f4f4;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }

 form label {
   display: flex;
   margin-bottom: 10px;
   font-weight: bold;

 }

 form input[type="text"],
 form input[type="email"],
 form input[type="tel"],
 form select,
 form textarea {
   width: 100%;
   padding: 10px;
   margin-bottom: 15px;
   border: 1px solid #ccc;
   border-radius: 5px;
   box-sizing: border-box;
 }

 form input[type="radio"] {
   margin-right: 10px;
 }

 form input[type="submit"] {
   background-color: #333;
   color: #fff;
   border: none;
   padding: 10px 20px;
   cursor: pointer;
   border-radius: 5px;
   font-size: 16px;
 }

 form input[type="submit"]:hover {
   background-color: #555;
 }

 /* Estilos para redes */
 .redes {
   display: flex;
   flex-flow: row wrap;
 }



 .iconos-redes {
   font-size: 30px;
 }

 .redes-margin {
   margin: auto;
 }


 /* Estilos para los card */
 .container {
   width: 100%;
   position: relative;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   flex-wrap: wrap;
 }

 .container .card {
   position: relative;
 }

 .container .card .face {
   width: 300px;
   height: 200px;
   transition: .4s;
 }

 .container .card .face.face1 {
   position: relative;
   background: #333;
   display: flex;
   justify-content: center;
   align-content: center;
   align-items: center;
   z-index: 1;
   transform: translateY(100px);
   border-radius: 15px;
 }

 .container .card:hover .face.face1 {
   transform: translateY(0);
   box-shadow:
     inset 0 0 60px whitesmoke,
     inset 20px 0 80px #f0f,
     inset -20px 0 80px #0ff,
     inset 20px 0 300px #f0f,
     inset -20px 0 300px #0ff,
     0 0 50px #fff,
     -10px 0 80px #f0f,
     10px 0 80px #0ff;
   border-radius: 15px 15px 0px 0px;
 }

 .container .card .face.face1 .content {
   opacity: .2;
   transition: 0.5s;
   text-align: center;
 }

 .container .card:hover .face.face1 .content {
   opacity: 1;
 }

 .container .card .face.face1 .content i {
   font-size: 3em;
   color: white;
   display: inline-block;
 }

 .container .card .face.face1 .content h3 {
   font-size: 1em;
   color: white;
   text-align: center;
 }

 .container .card .face.face1 .content a {
   transition: .5s;
 }

 .container .card .face.face2 {
   position: relative;
   background: whitesmoke;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px;
   box-sizing: border-box;
   box-shadow: 0 20px 50px rgba(0, 0, 0, .8);
   transform: translateY(-100px);
   border-radius: 15px;
 }

 .container .card:hover .face.face2 {
   transform: translateY(0);
   border-radius: 0px 0px 15px 15px;
 }

 .container .card .face.face2 .content p,
 a {
   font-size: 10pt;
   margin: 0;
   padding: 0;
   color: #333;
   border-radius: 15px;
 }

 .container .card .face.face2 .content a {
   text-decoration: none;
   color: black;
   box-sizing: border-box;
   padding: 10px;
   margin: 15px 0 0;
   display: inline-block;
   border-radius: 8px;
 }

 .container .card .face.face2 .content a:hover {
   background: #333;
   color: whitesmoke;
   box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
 }

 /* FONDO ESPECIAL */
 @import url('https://fonts.googleapis.com/css?family=Montserrat:700');

 #fly-in {
   font-size: 4em;
   margin: 30vh auto 40vh auto;
   height: 20vh;
   text-transform: uppercase;
 }

 #fly-in span {
   display: block;
   font-size: .4em;
   opacity: .8;
 }

 #fly-in div {
   position: absolute;
   margin: 2vh 0;
   opacity: 0;
   left: 10vw;
   width: 80vw;
   animation: switch 32s linear infinite;
 }

 #fly-in div:nth-child(2) {
   animation-delay: 4s
 }

 #fly-in div:nth-child(3) {
   animation-delay: 8s
 }

 #fly-in div:nth-child(4) {
   animation-delay: 12s
 }

 #fly-in div:nth-child(5) {
   animation-delay: 16s
 }

 #fly-in div:nth-child(6) {
   animation-delay: 20s
 }

 #fly-in div:nth-child(7) {
   animation-delay: 24s
 }

 #fly-in div:nth-child(8) {
   animation-delay: 28s
 }

 @keyframes switch {
   0% {
     opacity: 0;
     filter: blur(20px);
     transform: scale(12)
   }

   3% {
     opacity: 1;
     filter: blur(0);
     transform: scale(1)
   }

   10% {
     opacity: 1;
     filter: blur(0);
     transform: scale(.9)
   }

   13% {
     opacity: 0;
     filter: blur(10px);
     transform: scale(.1)
   }

   80% {
     opacity: 0
   }

   100% {
     opacity: 0
   }
 }

 /* Estilos adicionales para hacer la página responsive */
 @media screen and (min-width: 1000px) {
   .redes-margin {
     margin-left: 10px;
   }
 }

  /* Estilos para hacer la página responsive */
  @media screen and (max-width: 768px) {
    header {
      padding: 10px;
    }
 
    section {
      padding: 30px;
    }
 
  }

  @media screen and (max-width: 576px) {
    section {
      padding: 20px;
    }
  }

  @media screen and (max-width: 480px) {

    form input[type="submit"] {
      width: 100%;
    }
 
    #fly-in {
      font-size: 3em;
    }
 
    #fly-in div {
      position: absolute;
      width: 85%;
      height: 90%;
    }
 
    header h1 {
      font-size: 24px;
    }
 
    footer p {
      font-size: 14px;
    }
 
    nav {
      position: sticky;
      font-size: 8px;
    }
 
    ul {
      font-size: 5px;
    }
  }