/* El fondo oscuro */
.popup-fondo {
  position: fixed; /* Fijo en toda la pantalla */
  width: 100%; /* Ancho completo */
  height: 100%; /* Alto completo */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Negro con un poco de transparencia */
  z-index: 2; /* Encima del resto */
  cursor: pointer; /* Icono de mano */
}

/* El pop-up centrado */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  z-index: 5; /* Encima del fondo */
  width: 80%; /* Ancho del 80% */
  max-width: 600px; /* Ancho máximo */
  border-radius: 20px;
}
.popup a{ 
  transition: .5s;
  text-decoration:none; 
  color: black; box-sizing:
  border-box; 
  padding: 10px; 
  margin: 15px 0 0; 
  display: inline-block; 
  border-radius: 8px; 
} 

.popup a:hover { 
  background: #333 ; 
  color: whitesmoke; 
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}
/* Fondo de popup */
/* text-decoration:none;
  color: black;
  box-sizing: border-box;
  padding: 10px;
  margin: 15px 0 0;
  display: inline-block;
  border-radius: 8px; */
  